{% ckan_extends %}

{% block content_primary_nav %}
{% set dataset_id = pkg.id if is_activity_archive else pkg.name %}
{{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=dataset_id,
icon='sitemap') }}
{{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=dataset_id,
icon='clock-o') }}
{{ h.build_nav_icon('unaids_dataset_releases.list_releases', _('Releases'), dataset_type=dataset_type, dataset_id=dataset_id, icon='code-fork') }}
{% endblock %}

{% block package_info %}
{% set dataset_id = pkg.id if is_activity_archive else pkg.name %}
{{ super() }}
<section class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-code-fork"></i>
    <span> {{ _('Release') }}</span>
  </h2>
  <div class="module-content">
  {% set release = h.dataset_version_for_activity_id(dataset_id, request.args.activity_id) %}
  {% if release %}
    <h2 style="margin: 0;"><u>{{ release.name }}</u></h2>
    <p class="text-muted">
      <span>{{ _('Description') }}: </span>
      <span>{{ release.notes or _('None set') }}</span>
    </p>
    {% else %}
    <p>{{ _('There is no release associated with this version of the dataset yet.') }}</p>
    <a class="btn btn-default btn-xs"
      href="{{ h.url_for('unaids_dataset_releases.release_view', dataset_type=dataset_type, dataset_id=pkg.id) }}">
      <span>{{ _('Create Release') }}</span>
    </a>
  {% endif %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% snippet 'package/snippets/bulk_file_uploader.html', pkg=pkg %}
  {% endif %}
{% endblock %}
