{% ckan_extends %}

{% set pkg = c.pkg_dict %}

{% block package_description %}

  {% if pkg.org_to_allow_transfer_to %}
    {% if h.check_access('organization_update', {'id': pkg.org_to_allow_transfer_to }) %}
      <div class="alert alert-info" style="margin-top: -10px;">
        <p>{{ pkg.organization.title + _(' would like to transfer this dataset to your organisation') }}</p>
        <br>
        <a class="btn btn-default" href="{{ url_for('unaids_dataset_transfer.process_dataset_transfer', dataset_id=pkg.id) }}">
          <i class="fa fa-refresh"></i>
          <span> {{ _('Transfer dataset to ') +  h.get_organization(pkg.org_to_allow_transfer_to).display_name }}</span>
        </a>
      </div>
    {% endif %}
  {% endif %}

  {% if pkg.private %}
    <span class="dataset-private label label-inverse">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  {% block package_archive_notice %}
    {% if is_activity_archive %}
      <div class="alert alert-danger">
        {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
        You're currently viewing an old version of this dataset. To see the
        current version, click <a href="{{ url }}">here</a>.
        {% endtrans %}
      </div>
    {% endif %}
  {% endblock %}
  <h1>
    {% block page_heading %}
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
  </h1>
  {% endblock %}
  {% block package_notes %}
    {% if pkg.notes %}
      <div class="notes embedded-content">
        {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
      </div>
    {% endif %}
  {% endblock %}
  {# FIXME why is this here? seems wrong #}
  <span class="insert-comment-thread"></span>
  {% asset 'ckanext-unaids/download_all' %}
  <button class="download-all btn btn-primary dropdown-toggle pull-right hidden"
     data-module="download_all" data-module-files='{{h.get_all_package_downloads(pkg)}}'>
    <i class="fa fa-download"></i>
    {{ _('Download All') }}
  </button>
{% endblock %}
