{% ckan_extends %}

{% block content_action %}
  {% if not is_activity_archive %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
      {% if pkg.type == "country-estimates-23" %}
        <a class="btn btn-default" href="https://navigator.unaids.org/{{ h.get_language_code() }}/?datasetId={{ pkg.id }}" target="_blank">
          <i class="fa fa-compass"></i>
          {{_('Navigator')}}
        </a>
      {% endif %}
      {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default', icon='wrench' %}
    {% elif h.check_access('dataset_lock', {'id': pkg.id}) and pkg.get('locked')  %}
      <a class="btn btn-danger"
         href="{{url_for('dataset_lock.unlock', dataset_id=pkg.id)}}"
         target="_blank"
         data-module="confirm-action"
         data-module-content="{{ _('Are you sure you want to unlock this dataset?  This will allow others to edit it once more. ') }}">
        <i class="fa fa-unlock"></i>
        {{_('Unlock')}}
      </a>
    {% elif pkg.get('locked')  %}
      <a class="btn btn-danger" disabled href="#" data-module="tooltips" data-toggle="tooltip" data-placement="left" title="{{_('A system administrator has made this dataset read-only.')}}">
        <i class="fa fa-lock"></i>
        {{_('Locked')}}
      </a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
{% set dataset_id = pkg.id if is_activity_archive else pkg.name %}
{{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=dataset_id,
icon='sitemap') }}
{{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=dataset_id,
icon='clock-o') }}
{{ h.build_nav_icon('unaids_dataset_releases.list_releases', _('Releases'), dataset_type=dataset_type, dataset_id=dataset_id, icon='code-fork') }}
{% endblock %}

{% block package_info %}
{% set dataset_id = pkg.id if is_activity_archive else pkg.name %}
{{ super() }}
<section id="ReleasesSidebar" class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-code-fork"></i>
    <span> {{ _('Release') }}</span>
  </h2>
  <div class="module-content">
  {% set release = h.get_current_dataset_release(dataset_id, request.args.activity_id) %}
  {% if release %}
    <h2 style="margin: 0;"><b>{{ release.name }}</b></h2>
    <p class="text-muted">
      <span>{{ _('Description') }}: </span>
      <span>{{ release.notes or _('None set') }}</span>
    </p>
    {% else %}
    <p>{{ _('There is no release associated with this version of the dataset yet.') }}</p>
    {% if h.check_access('version_create', {'package_id': pkg.id}) %}
        <a class="btn btn-default btn-xs"
          href="{{ h.url_for('unaids_dataset_releases.release_view', dataset_type=dataset_type, dataset_id=pkg.id) }}">
          <span>{{ _('Add Release') }}</span>
        </a>
    {% endif %}
  {% endif %}
  </div>
</section>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% snippet 'package/snippets/bulk_file_uploader.html', pkg=pkg %}
  {% endif %}
{% endblock %}
