{% ckan_extends %}

{% block resource %}
    {% set activity_id = request.args['activity_id'] %}
    {% if activity_id and res.url_type == 'upload' %}
        {# res.url is used quite deep in the template blocks, to avoid #}
        {# duplication I update the param field #}
        {% set _ = res.update({'url': "%s?activity_id=%s" % (res.url, activity_id)}) %}
    {% endif %}
    {# filename is not encoded in URL so we do it here #}
    {% set _ = res.update({'url': h.filename_encode(res.url)}) %}
    {{ super() }}

{% endblock %}

{% block resource_read_url %}
    <div class="resource-read-metadata">
    <p class="text-muted break-word">{{ _('Resource ID:') }} <span style="color: #e31837">{{ res.id }}</span></p>

    {% if res.format == 'url'%}
        {% if res.url and h.is_url(res.url) %}
            <h2 class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></h2>
        {% elif res.url %}
            <h2 class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</h2>
        {% endif %}
    {% else %}
        {% if res.url and h.is_url(res.url) %}
            <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ h.filename_encode(res.url) }}" title="{{ res.url }}">{{ res.url }}</a></p>
        {% elif res.url %}
            <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
        {% endif %}
    {% endif %}
        
    {% if res.fork_resource%}
        <p class="text-muted ellipsis">
            {% set parent = h.fork_get_parent_resource_details(res.fork_resource) %}
            {% if parent.success %}
                {{ _('Imported from:') }}&nbsp;<a class="resource-url-analytics" href="{{ parent.organization.url }}" title="{{ parent.organization.url }}">{{ parent.organization.name }}</a>&nbsp;/&nbsp;<a class="resource-url-analytics" href="{{ parent.package.url }}" title="{{ parent.package.url }}">{{ parent.package.name }}</a>&nbsp;/&nbsp;<a class="resource-url-analytics" href="{{ parent.resource.url }}" title="{{ parent.resource.url }}">{{ parent.resource.name }}</a>
                {% if not res.fork_synced %}
                    &nbsp;(<a class="resource-url-analytics" href="{{ parent.resource.url }}?activity_id={{ res.fork_activity }}" title="{{ parent.resource.url }}?activity_id={{ res.fork_activity }}">old version</a>)
                {% else %}
                    &nbsp;<span class="sync-success"> <i class="fa fa-check"></i> Data Synchronised</a></span>
                {% endif %}
            {% else %}
                {{ _('Imported from:') }}&nbsp;Access to parent resource denied.
            {% endif %}
        </p>
    {% endif %}
    </div>
{% endblock %}

{% block download_resource_button %}
    {# Datastore is avaiable only for the current version #}
    {% if not activity_id %}
        {{ super() }}
    {% endif %}
{% endblock %}
