{% ckan_extends %}

{% block package_item %}
    {% if not package.groups | selectattr('name', 'equalto', 'administrative-boundaries') | list | length > 0 or request.path == '/group/administrative-boundaries' %}
      <li class="{{ item_class or "dataset-item" }}">
    {% endif %}
        {% block content %}
            {{ super() }}
        {% endblock %}
    {% if not package.groups | selectattr('name', 'equalto', 'administrative-boundaries') | list | length > 0 or request.path == '/group/administrative-boundaries' %}
        </li>
    {% endif %}
{% endblock %}