{% ckan_extends %}

{#
  Override content_action to fix icon double-encoding issue.
  The core link_for tag double-encodes HTML entities for icons in CKAN 2.11.
  We use the nav_link helper from ckanext-unaids which handles HTML properly.
#}
{% block content_action %}
  {% if h.check_access('organization_update', {'id': group_dict.id}) %}
    {{ h.nav_link(_('Manage'), named_route=group_type+'.edit', id=group_dict.name, class_='btn btn-default', icon='wrench') }}
  {% endif %}
{% endblock %}

{#
  Override content_primary_nav to add DHIS2 Sources link.
  Activity Stream is added by the activity plugin via super().
#}
{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', _('Datasets'), id=c.group_dict.name, icon='sitemap') }}
  <li>
    <a href="{{ h.url_for('/harvest', organization=c.group_dict.name) }}">
      <i class="fa fa-database"></i>
      {{ _('DHIS2 Sources') }}
    </a>
  </li>
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=c.group_dict.name, icon='info-circle') }}
  {{ h.build_nav_icon('activity.organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0, icon='clock') }}
{% endblock %}
