#BulkFileUploaderComponent h1 {
    margin-top: 30px;
    margin-bottom: 35px;
}

#BulkFileUploaderComponent .fullPageDropzone {
    border: 3px dashed transparent;
    border-radius: 3px;
    padding: 5px;
    margin: -8px;
    margin-bottom: 10px;
}

#BulkFileUploaderComponent .fullPageDropzone.active {
    border-color: #189de3;
    background-color: #eaf6fd;
}

#BulkFileUploaderComponent .fullPageDropzone.active .resource-item {
    background-color: transparent !important;
}

#BulkFileUploaderComponent .modalDropzone {
    text-align: center;
    padding: 20px;
    border-width: 3px;
    border-radius: 2px;
    border-color: #ebebeb;
    border-style: dashed;
    background-color: #fafafa;
    margin-bottom: 20px;
}

#BulkFileUploaderComponent .modalDropzone.active {
    border-color: #189de3;
    background-color: #eaf6fd;
}

#BulkFileUploaderComponent .table td {
    overflow-wrap: break-word;
}

#BulkFileUploaderComponent .remove-file-btn-active {
    cursor: pointer;
}

#BulkFileUploaderComponent .remove-file-btn-disabled {
    cursor: not-allowed;
    opacity: 0.25;
}

#BulkFileUploaderComponent .close.disabled {
    cursor: not-allowed;
}

#BulkFileUploaderComponent .fa {
    margin-right: 5px;
}

#BulkFileUploaderComponent .label-danger {
    padding: 5px;
}

#BulkFileUploaderComponent .drag-files-instructions-wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

#BulkFileUploaderComponent .drag-files-instructions {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
    background-color: #189de3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

#BulkFileUploaderComponent .drag-files-instructions h3 {
    margin: 0;
    color: white;
}

#BulkFileUploaderComponent select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px
}
