.dropzone {
    text-align: center;
    padding: 20px;
    border-width: 3px;
    border-radius: 2px;
    border-color: #ebebeb;
    border-style: dashed;
    background-color: #fafafa;
    margin-bottom: 20px;
}

#FileInputComponent h3 {
    margin-bottom: 20px;
}

#FileInputComponent .field-url-input-group {
    margin-bottom: 30px;
}

.resource-fork-component {
    text-align: left;
    padding: 20px;
    border-width: 3px;
    border-radius: 2px;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fafafa;
    margin-bottom: 20px;
    position: relative;
}

/* FORK RESOURCE SEARCH BAR */

.resource-fork-component > .field {
    position: relative;
}

.resource-fork-component > .field > .form-control {
    height: auto;
    width: 100%;
    padding: 5px 37px;
}

.resource-fork-component > .field > .btn-search,
.resource-fork-component > .field > .btn-reset {
    position: absolute;
    height: 17px;
    width: 17px;
    padding: 0;
    top: 50%;
    margin-top: -10px;
    background-color: transparent;
    border: none;
    color: #999;
    transition: color 0.2s ease-in;
}

.resource-fork-component > .field > .btn-search {
    left: 10px;
}

#resource-search-label:after {
    content: "";
}

.resource-fork-component > .field > .btn-reset {
    right: 10px;
}

.resource-fork-component > .field > .btn-search:hover,
.resource-fork-component > .field > .btn-reset:hover {
    color: #000;
}

/* FORK RESOURCE SEARCH RESULTS */

.resource-fork-search-results > .scroll {
    margin-top: 20px;
    padding: 2px;
    max-height: 50vh;
    overflow-y: auto;
}

.resource-fork-search-results .panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #ddd;
    margin-bottom: 10px;
}

.resource-fork-search-results mark {
    padding: 0;
    background-color: inherit;
    color: #e31837;
}

.resource-fork-search-results .panel-heading {
    cursor: pointer;
}

.resource-fork-search-results .panel-heading .badge {
    float: right;
    background-color: #e31837;
}

.resource-fork-search-results .panel p.description,
.resource-fork-details-tile p.description {
    font-size: 12px;
}

.resource-fork-search-results .panel-heading p.heading,
.resource-fork-search-results .panel-heading p.description,
.resource-fork-search-results .panel-body p.heading,
.resource-fork-search-results .panel-body p.description,
.resource-fork-details-tile p.heading,
.resource-fork-details-tile p.description {
    margin-bottom: 0px;
}

.resource-fork-search-results ul.panel-body {
    padding: 10px 5px;
}

.resource-fork-search-results ul.panel-body li.list-group-item {
    margin-bottom: 5px;
    cursor: pointer;
}

.resource-fork-search-results .resource-btn:hover {
    background-color: #e6e6e6;
}

/*FORK RESOURCE SELECTED RESOURCE */

.resource-fork-escape {
    position: absolute;
    right: 10px;
    top: 5px;
}

.resource-fork-details-tile {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

.resource-fork-details-tile p.description {
    margin-left: 5px;
    cursor: pointer;
}
