{% import 'macros/form.html' as form %}

<form id="user-edit-form" class="dataset-form" method="post" action="{{ action }}" enctype="multipart/form-data">
  {{ form.errors(error_summary) }}

  <fieldset>
    <legend>{{ _('Change details') }}</legend>

    <label>{{ _('HIV Tools Profile Data') }}</label>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 no-top-padding">
              <ul class="list-unstyled">
                  <li><strong>{{ data.fullname }}</strong> ({{ data.name }})</li>
                  <li>{{ data.email }}</li>
                  <li>&nbsp;</li>
                  <li>{% if data.job_title %}{{ data.job_title }}{% else %} {{_('No job title specified')}} {% endif %}</li>
                  <li>{% if data.affiliation %}{{ data.affiliation }}{% else %} {{_('No organisation specified')}} {% endif %}</li>
              </ul>
          </div>
        </div>
          <div class="row">
          <div class="col-xs-12 text-right no-bottom-padding">
            <a class="btn btn-primary" href="{{ h.get_profile_editor_url() }}">{{ _('Update data') }}</a>
          </div>
        </div>
      </div>
    </div>

    {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself')) }}

    {% if show_email_notifications %}
      {% call form.checkbox('activity_streams_email_notifications', label=_('Subscribe to notification emails'), id='field-activity-streams-email-notifications', value=True, checked=g.userobj.activity_streams_email_notifications) %}
      {% set helper_text = _("You will receive notification emails from {site_title}, e.g. when you have new activities on your dashboard."|string) %}
      {{ form.info(helper_text.format(site_title=g.site_title), classes=['info-help-tight']) }}
      {% endcall %}
    {% endif %}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Profile picture'), url_label=_('Profile picture URL') ) }}

  </fieldset>

   <div>
      <input type="hidden" name="old_password"/>
      <input type="hidden" name="password1"/>
      <input type="hidden" name="password2"/>
      <input type="hidden" name="email" value="{{data.email}}" />
      <input type="hidden" name="name" value="{{data.name}}" />
  </div>

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('user_delete', {'id': data.id})  %}
        <a class="btn btn-danger pull-left" href="{% url_for 'user_delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this User?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    {% block generate_button %}
      {% if h.check_access('user_generate_apikey', {'id': data.id})  %}
        <a class="btn btn-warning" href="{% url_for 'user.generate_apikey', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to regenerate the API key?') }}">{% block generate_button_text %}{{ _('Regenerate API Key') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Update Profile') }}</button>
  </div>
</form>
