{% extends "package/releases/base.html" %}

{% block modal_title %}
    {{ _('Edit Release') if release else _('Create Release') }}
{% endblock %}

{% block modal_body %}

    <label for="basic-url">{{ _('Name') }}</label>
    <input
        type="text"
        name="name"
        class="form-control"
        required="required"
        value="{{ release.name if release }}"
    >

    <br />

    <label for="basic-url">{{ _('Description') }}</label>
    <textarea class="form-control" rows="3" name="notes">{{ release.notes if release }}</textarea>
    
{% endblock %}

{% block submit_label %}
    {{ _('Save') if release else _('Create') }}
{% endblock %}