<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="col-md-6 col1">
        {% block promoted %}
        <div class="module-content box">
          <section class="featured media-overlay">
            <div id="unaids-wordcloud" class="text-center">
              {{_('<span style="font-size: 2em; color: grey;">The AIDS Data Repository<br />aims to improve the</span><br /><span style="font-size: 2.75em; font-weight: bold;">quality, accessibility <br /> and consistency</span><span style="font-size: 2em;"> of HIV data<br />and HIV estimates by </span><span style="font-size: 2em; color: grey;">providing a</span><br /><span style="font-size: 2.5em; font-weight: bold;">centralised platform</span><br /><span style="font-size: 2em;">with tools to help countries </span><span style="font-size: 2em; font-weight: bold;">manage<br />and share </span><span style="font-size: 2em; color: grey;">their HIV data.</span>')}}
            </div>
            <a class="pull-right" href={{h.url_for("/pages/about")}}>
              {{_('Find out more...')}}
            </a>
          </section>
        </div>
        {% endblock %}
      </div>
      <div class="col-md-6 col2">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div role="main" class="help-panel">
  <div class="container">
    <div class='row'>
      <div class="col-xs-12 order-xs-2 col-md-6 col-lg-4 col-lg-offset-2">
        {% if h.lang() == 'fr' %}
          {% set inputs_page = 'fr-inputs-unaids' %}
          {% set vmmc_page = 'fr-vmmc' %}
        {% elif h.lang() == 'pt_PT' %}
          {% set inputs_page = 'pt-inputs-unaids' %}
          {% set vmmc_page = 'pt-vmmc' %}
        {% else %}
          {% set inputs_page = 'inputs-unaids' %}
          {% set vmmc_page = 'vmmc' %}
        {% endif %}
      <a class="btn btn-primary btn-lg guidance-button"
         href="https://navigator.unaids.org"
         target="_blank">
        <i class="fa fa-compass"></i>
        <span class="button-text">{{_('HIV Estimates<br />Navigator')}}</span>
      </a>
      <a class="btn btn-primary btn-lg guidance-button"
         href="/{{h.lang()}}/pages/{{inputs_page}}"
         target="_blank">
        <i class="fa fa-info-circle"></i>
        <span class="button-text">{{_('Instructions to upload your<br />Country Estimates 2024 Data')}}</span>
      </a>
      </div>
      <div class="hidden-xs hidden-sm col-md-6 col-lg-4 whats-next">
        <h1>{{_('Unsure what to do next?')}}</h1>
        <h3>{{_('Use the HIV Estimates Navigator to guide you step-by-step through the HIV Estimates process, or click on one of our instruction pages opposite for videos and guidance.')}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="map">
  <div class="container">
    <h3 class="map-title">{{_('Datasets by country')}}</h3>
  </div>
  <div id="map-selector"
       data-module="map_selector"
       data-module-configurl="/map-options/"></div>
    {% asset 'ckanext-unaids/MapSelectorJS' %}
    {% asset 'ckanext-unaids/MapSelectorCSS' %}
</div>
<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <H2> {{_('Featured Organisations')}} </H2>
      </div>
    </div>
    <div class="row row2">
      {% set organizations = h.get_featured_organizations(2) %}
      {% for organization in organizations %}
      <div class="col-md-6 col1">
          <div class="box">
          {% snippet 'snippets/organization_item.html', organization=organization, truncate=50, truncate_title=35 %}
        </div>
      </div>
      {% endfor %}

      {% set groups = h.get_featured_groups(0) %}
      {% for group in groups %}
          {% if group.name != "administrative-boundaries" %}
              <div class="col-md-6 col2">
                <div class="box">
                  {% snippet 'snippets/group_item.html', group=group, truncate=50, truncate_title=35 %}
                </div>
              </div>
          {% endif %}
      {% endfor %}
      {% for group in groups %}
          {% if group.name == "administrative-boundaries" %}
            <div class="admin-boundaries-group col-md-12 col2">
                <div class="box">
                    {% snippet 'snippets/group_item.html', group=group, truncate=50, truncate_title=35 %}
                </div>
            </div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="homepage-partners">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <H2> {{_('The AIDS Data Repository is a project by')}} </H2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a class="unaids-logo" href="https://www.unaids.org"  target="_blank">
            <img src="{{ h.url_for_static('/unaids.png') }}" alt="aim" width="80%" />
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <H2> {{_('With support from')}} </H2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="text-center">
          <a class="" href="https://www.avenirhealth.org/"  target="_blank">
            <img class="avenir-logo" src="{{ h.url_for_static('/avenir.png') }}" alt="aim" width="80%" />
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-center">
          <a class="" href="http://www.fjelltopp.org"  target="_blank">
            <img class="fjelltopp-logo" src="{{ h.url_for_static('/fjelltopp.png') }}" alt="aim" width="80%" />
          </a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-center" style="margin-top: 10px;">
          <a class="" href="https://www.imperial.ac.uk/"  target="_blank">
            <img class="imperial-logo" src="{{ h.url_for_static('/imperial.png') }}" alt="aim" width="80%" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
