{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-unaids/UnaidsCSS' %}
{% endblock %}

{% block head_extras %}
  {{ super() }}
  {% if h.get_google_analytics_id()  %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ h.get_google_analytics_id() }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ h.get_google_analytics_id() }}');
    </script>
  {% endif %}
  {% set fw_id = h.get_freshdesk_widget_id() %}
  {% if fw_id %}
    <script>
      window.fwSettings = {'widget_id': {{ fw_id | tojson }}};
      !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
    </script>
    <script type="text/javascript" src="https://widget.freshworks.com/widgets/{{ fw_id | tojson }}.js" async defer></script>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'ckanext-unaids/main' %}
{% endblock %}
