{% ckan_extends %}

{% block custom_styles %}
  {{ super() }}
  <link rel="stylesheet" href="/unaids.css" />
  <link rel="stylesheet" href="/custom.css" />
  {% asset 'ckanext-unaids/MainStyles' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'ckanext-unaids/MainScripts' %}
{% endblock %}

{% block body_extras %}
  {{ super() }}
  <div class="cookie-message alert alert-warning">
    <span>{{ _('We use cookies on this site to enhance your user experience.') }}</span>
    <a class="cookie-message-close text-right" href>{{ _('I understand') }}</a>
  </div>
{% endblock %}