{% ckan_extends %}

{% block styles %}
  {% asset 'ckanext-unaids/UnaidsCSS' %}
{% endblock %}

{% block head_extras %}
  {{ super() }}
  {% if h.get_google_analytics_id()  %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ h.get_google_analytics_id() }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ h.get_google_analytics_id() }}');
    </script>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'ckanext-unaids/main' %}
{% endblock %}
