{% ckan_extends %}

{% block header_logo %}
  {% if g.site_logo %}
    {% set current_lang = request.environ.CKAN_LANG %}
    <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.get_logo_path(g.site_logo, current_lang) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
  {% else %}
    <h1>
      <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
    </h1>
    {% if g.site_description %}
      <h2>{{ g.site_description }}</h2>
    {% endif %}
  {% endif %}
{% endblock %}

{% if h.lang() == 'fr' %}
  {% set inputs_page = 'fr-inputs-unaids' %}
{% elif h.lang() == 'pt_PT' %}
  {% set inputs_page = 'pt-inputs-unaids' %}
{% else %}
  {% set inputs_page = 'inputs-unaids' %}
{% endif %}

{% block header_site_navigation_tabs %}
    {{ super() }}
    <li>
        <a  href="{{h.lang()}}/pages/{{inputs_page}}">
            {{_('2024 Instructions')}}
        </a>
    </li>

{% endblock %}