{% ckan_extends %}

{%- set transfer_options = [] -%}
{%- for organization in h.get_all_organizations() -%}
{%- if organization.id != data.organization.id -%}
  {%- do transfer_options.append({
    'value': organization.id,
    'text': organization.display_name
  }) -%}
{%- endif -%}
{%- endfor -%}
{%- set schema_fields = h.scheming_get_dataset_schema(dataset_type).dataset_fields | map(attribute="field_name") | list -%}

{% block form_actions %}
    <div class="form-actions">
        {% block disclaimer %}
        {{ super() }}
        {% endblock %}
        {% block save_button %}
        {{ super() }}
        {% endblock %}
    </div>
    <div class="danger-zone">

        <h2>{{_('Danger Zone')}}</h2>
        <p>{{_('Proceed with care. These actions carry significant consequences.')}}</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-danger pull-right"
                   href="{% url_for dataset_type ~ '.delete', id=data.id %}"
                   data-module="confirm-action"
                   data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">
                    {{ _('Delete Dataset') }}
                </a>
                <strong>{{_('Delete this dataset')}}</strong><br/>
                {{_('Only a system administrator can undo this action.')}}
                {% block delete_button_text %}
                {% endblock %}
            </li>
            {% if 'org_to_allow_transfer_to' in schema_fields %}
            <li class="list-group-item">
                <a class="btn btn-danger pull-right"
                   href="#"
                   data-module="transfer-dataset"
                   data-module-orgs='{{transfer_options|tojson}}'
                   data-module-value="{{data.get('org_to_allow_transfer_to')}}">
                    {{ _('Transfer Dataset') }}
                </a>
                <strong>{{_('Transfer this dataset')}}</strong><br/>
                {{_('You can request that another organisation takes over ownership of this dataset.')}}
            </li>
            {% endif %}
            {% if h.check_access('sysadmin') %}
            <li class="list-group-item">
                <a class="btn btn-danger pull-right"
                   href="{% url_for 'dataset_lock.lock', dataset_id=data.id %}"
                   data-module="confirm-action"
                   data-module-content="{{ _('Are you sure you want to lock this dataset?') }}">
                    {{ _('Lock Dataset') }}
                </a>
                <strong>{{_('Lock this dataset')}}</strong><br/>
                {{_('System administrators may lock this dataset to prevent further editing.')}}
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
